/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-color: black; */
  /* color: white; */
}

body {
  font-family: "Segoe UI", sans-serif;
}

/* ===== NAVBAR ===== */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: black;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.nav {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: black;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* ===== HERO ===== */
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("https://wyreflow.com/assets/images/about-homepage-final.png");
  background-size: 1650px 920px;
  background-position: center;
  background-repeat: no-repeat;
  animation: animateBack 10s forwards;
}
.about-us-container-content {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  color: white;
  background-color: rgba(0, 0, 0, 0.612);
  font-family: "Satoshi", sans-serif;
  padding: 10px;
}
.about-us-container-content .left-heading {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: 30px;
}
.about-us-container-content .right-subheading {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 35%;
  height: 100%;
  font-size: 18px;
}

/* ===== INFO CARDS ===== */
.info-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 25px; */
  padding: 60px 90px;
  width: "100%";
  /* max-width: 1200px; */
  margin: auto;
  background-color: black;
  color: "white";
}

/* ===== SECTIONS ===== */
.vision-section,
.faq-section,
.social-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #111;
  color: white;
}

/* ===== FOOTER ===== */
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .info-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero h1 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .info-cards {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 60px 15px;
  }
}
